@import url(https://webgpufundamentals.org/webgpu/resources/webgpu-lesson.css);
html,
body {
    margin: 0;
}
/* canvas { height: calc(100vh - 70px); width: 100%; display: block; } */
canvas {
    height: 100vh;
    width: 100%;
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
